/* Custom CSS */
/* .carousel .carousel-item {
    height: 300px; 
    
  } */
  .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  /* Responsive classes */
  /* @media (min-width: 576px) {
    .carousel .carousel-item {
      height: 400px;
    }
  }
  
  @media (min-width: 768px) {
    .carousel .carousel-item {
      height: 500px;
    }
  }
  
  @media (min-width: 992px) {
    .carousel .carousel-item {
      height: 600px;
    }
  }
   */
   