.navbar {
    background-color: #4742429d;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 30px;
}
.brand{
    color: #fff; 
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}
.navbar-brand {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    /* color: #fff; */
  }
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    text-decoration: none;
    color: rgb(190, 128, 244);
}

.nav-inline {
    display: inline-block;
    margin-left: 10px;
}