/* LoginForm.css */
body{
  background:linear-gradient(45deg, #eb5db7aa, rgba(48, 65, 252, 0.773));
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
    height: 100vh;
  }
  
  .login-form {
    background-color: #f2f2f294;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  /* button{
    width: 100%;
    padding: 7px;
    font-size: 18px;
    background-color: #52b352;
    border-radius: 18px;
    border: none;
  } */