body {
  margin: 0;
  padding: 0;
}

.project-interface {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  flex: 1;
  background-image: url('./images/projectBackGround.jpg');
    background-size: cover;
  /* Add any additional styles for the hero section */
}

/* Adjust the styles for the Navbar and Footer components as needed */
